<a href="https://colab.research.google.com/github/dmuman/ML-labs/blob/main/lab2/lab2_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1

In [2]:
url = 'https://raw.githubusercontent.com/OlhaOsypova/Machine-Learning-and-Data-Analytics/refs/heads/main/Topic_3_stat/Task/stack_overflow_2024.csv'
df = pd.read_csv(url)
df.head(10)

,MainBranch,Age,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,CompTotal,SOVisitFreq,...,TimeAnswering,ProfessionalCloud,ProfessionalQuestion,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,I am a developer by profession,Under 18 years old,Remote,Primary/elementary school,NaN,NaN,NaN,United States of America,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I am a developer by profession,35-44 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,I am a developer by profession,45-54 years old,Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",37,27,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,I am learning to code,18-24 years old,NaN,Some college/university study without earning ...,4,NaN,NaN,Canada,NaN,Daily or almost daily,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,I code primarily as a hobby,Under 18 years old,NaN,Primary/elementary school,10,NaN,NaN,United States of America,NaN,Multiple times per day,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
5,"I am not primarily a developer, but I write co...",35-44 years old,Remote,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",7,7,NaN,United States of America,NaN,Daily or almost daily,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN,NaN
6,I am learning to code,18-24 years old,NaN,"Secondary school (e.g. American high school, G...",1,NaN,NaN,Uzbekistan,NaN,Less than once per month or monthly,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Difficult,NaN,NaN
7,I code primarily as a hobby,45-54 years old,In-person,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)",20,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,Multiple times per day,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN,NaN
8,I am a developer by profession,35-44 years old,Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",15,11,NaN,Serbia,NaN,A few times per week,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
9,"I used to be a developer by profession, but no...",35-44 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,NaN,NaN,United States of America,NaN,A few times per week,...,60-120 minutes a day,Cloud only (single or multi-cloud),Internal Developer portal,50.0,0.0,0.0,Appropriate in length,Easy,NaN,8.0

In [3]:
df.tail()

,MainBranch,Age,RemoteWork,EdLevel,YearsCode,YearsCodePro,OrgSize,Country,CompTotal,SOVisitFreq,...,TimeAnswering,ProfessionalCloud,ProfessionalQuestion,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
58056,I am a developer by profession,18-24 years old,Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,3,2 to 9 employees,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58057,I am a developer by profession,25-34 years old,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58058,I am a developer by profession,25-34 years old,In-person,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",9,5,"1,000 to 4,999 employees",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58059,I am a developer by profession,18-24 years old,"Hybrid (some remote, some in-person)","Secondary school (e.g. American high school, G...",5,2,20 to 99 employees,Germany,NaN,A few times per month or weekly,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
58060,I code primarily as a hobby,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Daily or almost daily,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MainBranch            58061 non-null  object
 1   Age                   58061 non-null  object
 2   RemoteWork            48673 non-null  object
 3   EdLevel               53889 non-null  object
 4   YearsCode             53076 non-null  object
 5   YearsCodePro          45818 non-null  object
 6   OrgSize               42136 non-null  object
 7   Country               52201 non-null  object
 8   CompTotal             29886 non-null  float64
 9   SOVisitFreq           52758 non-null  object
 10  SOAccount             52776 non-null  object
 11  SOPartFreq            40057 non-null  object
 12  SOComm                52411 non-null  object
 13  AISelect              53958 non-null  object
 14  AISent                40721 non-null  object
 15  AIAcc                 33163 non-null  object
 16  AIComplex             32910 non-null  object
 17  AIThreat              39656 non-null  object
 18  TBranch               39414 non-null  object
 19  ICorPM                26387 non-null  object
 20  WorkExp               26274 non-null  float64
 21  Knowledge_1           25383 non-null  object
 22  Knowledge_2           24818 non-null  object
 23  Knowledge_3           24875 non-null  object
 24  TimeSearching         25589 non-null  object
 25  TimeAnswering         25530 non-null  object
 26  ProfessionalCloud     25231 non-null  object
 27  ProfessionalQuestion  25506 non-null  object
 28  JobSatPoints_1        25972 non-null  float64
 29  JobSatPoints_4        26031 non-null  float64
 30  JobSatPoints_5        26052 non-null  float64
 31  SurveyLength          49755 non-null  object
 32  SurveyEase            49809 non-null  object
 33  ConvertedCompYearly   20767 non-null  float64
 34  JobSat                25793 non-null  float64
dtypes: float64(7), object(28)
memory usage: 15.5+ MB

In [5]:
df.isnull().sum()

MainBranch                  0
Age                         0
RemoteWork               9388
EdLevel                  4172
YearsCode                4985
YearsCodePro            12243
OrgSize                 15925
Country                  5860
CompTotal               28175
SOVisitFreq              5303
SOAccount                5285
SOPartFreq              18004
SOComm                   5650
AISelect                 4103
AISent                  17340
AIAcc                   24898
AIComplex               25151
AIThreat                18405
TBranch                 18647
ICorPM                  31674
WorkExp                 31787
Knowledge_1             32678
Knowledge_2             33243
Knowledge_3             33186
TimeSearching           32472
TimeAnswering           32531
ProfessionalCloud       32830
ProfessionalQuestion    32555
JobSatPoints_1          32089
JobSatPoints_4          32030
JobSatPoints_5          32009
SurveyLength             8306
SurveyEase               8252
ConvertedCompYearly     37294
JobSat                  32268
dtype: int64

# 2

In [6]:
regex = r'[^\d\.]'

In [7]:
columns = [
    'YearsCode',
    'YearsCodePro'
    ]

In [8]:
for column in columns:
  print(df[column][df[column].str.contains(regex, na=False)])

45       More than 50 years
126      More than 50 years
303      More than 50 years
470        Less than 1 year
555      More than 50 years
                ...
57741    More than 50 years
57774      Less than 1 year
57787      Less than 1 year
57818      Less than 1 year
58044      Less than 1 year
Name: YearsCode, Length: 731, dtype: object
18       Less than 1 year
37       Less than 1 year
47       Less than 1 year
63       Less than 1 year
145      Less than 1 year
               ...
57841    Less than 1 year
57878    Less than 1 year
57886    Less than 1 year
57922    Less than 1 year
57970    Less than 1 year
Name: YearsCodePro, Length: 2555, dtype: object

In [9]:
replacing_dict = {
        'More than': '',
        'Less than': '.',
        'years': '',
        'year': '',
        '. 1': '1'
      }

df['YearsCode'] = df['YearsCode'].replace(replacing_dict, regex=True)

df['YearsCodePro'] = df['YearsCodePro'].replace(replacing_dict, regex=True)

In [10]:
for column in columns:
  print(df[column][df[column].str.contains(regex, na=False)])

45        50
126       50
303       50
470        1
555       50
         ...
57741     50
57774      1
57787      1
57818      1
58044      1
Name: YearsCode, Length: 731, dtype: object
18       1
37       1
47       1
63       1
145      1
         ..
57841    1
57878    1
57886    1
57922    1
57970    1
Name: YearsCodePro, Length: 2555, dtype: object

In [11]:
df['YearsCode'] = df['YearsCode'].astype(float)
df['YearsCodePro'] = df['YearsCodePro'].astype(float)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MainBranch            58061 non-null  object
 1   Age                   58061 non-null  object
 2   RemoteWork            48673 non-null  object
 3   EdLevel               53889 non-null  object
 4   YearsCode             53076 non-null  float64
 5   YearsCodePro          45818 non-null  float64
 6   OrgSize               42136 non-null  object
 7   Country               52201 non-null  object
 8   CompTotal             29886 non-null  float64
 9   SOVisitFreq           52758 non-null  object
 10  SOAccount             52776 non-null  object
 11  SOPartFreq            40057 non-null  object
 12  SOComm                52411 non-null  object
 13  AISelect              53958 non-null  object
 14  AISent                40721 non-null  object
 15  AIAcc                 33163 non-null  object
 16  AIComplex             32910 non-null  object
 17  AIThreat              39656 non-null  object
 18  TBranch               39414 non-null  object
 19  ICorPM                26387 non-null  object
 20  WorkExp               26274 non-null  float64
 21  Knowledge_1           25383 non-null  object
 22  Knowledge_2           24818 non-null  object
 23  Knowledge_3           24875 non-null  object
 24  TimeSearching         25589 non-null  object
 25  TimeAnswering         25530 non-null  object
 26  ProfessionalCloud     25231 non-null  object
 27  ProfessionalQuestion  25506 non-null  object
 28  JobSatPoints_1        25972 non-null  float64
 29  JobSatPoints_4        26031 non-null  float64
 30  JobSatPoints_5        26052 non-null  float64
 31  SurveyLength          49755 non-null  object
 32  SurveyEase            49809 non-null  object
 33  ConvertedCompYearly   20767 non-null  float64
 34  JobSat                25793 non-null  float64
dtypes: float64(9), object(26)
memory usage: 15.5+ MB

In [13]:
df.describe()

,YearsCode,YearsCodePro,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,ConvertedCompYearly,JobSat
count,53076.000000,45818.000000,2.988600e+04,26274.000000,25972.000000,26031.000000,26052.000000,2.076700e+04,25793.000000
mean,14.240994,10.260967,3.346048e+145,11.469285,18.630313,7.438717,10.027056,8.607141e+04,6.943512
std,10.655077,9.063033,5.784504e+147,9.155960,25.920354,18.270130,21.774249,1.580473e+05,2.083373
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,6.000000,3.000000,5.923425e+04,4.250000,0.000000,0.000000,0.000000,3.398200e+04,6.000000
50%,11.000000,7.000000,1.077155e+05,9.000000,10.000000,0.000000,0.000000,6.590700e+04,7.000000
75%,20.000000,15.000000,2.400000e+05,16.000000,23.000000,5.000000,10.000000,1.090390e+05,8.000000
max,50.000000,50.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,1.381802e+07,10.000000

# 3

In [14]:
import numpy as np

# columns = np.array([column for column in df.columns if df[column].dtype == 'float64'], dtype='object')
columns = df.select_dtypes(include='float64').columns
# columns

for column in columns:
  # print(f'Кількість рядків до видалення викидів {column} : {df.shape[0]}')
  lower_bound = df[column].quantile(0.01)
  upper_bound = df[column].quantile(0.99)

  df_cleaned = df[((df[column] >= lower_bound) & (df[column] <= upper_bound)) | (df[column].isna())]
  print(f'Кількість рядків після видалення викидів {column} : {df_cleaned.shape[0]}')
  print((f'Видалено рядкі з {column} : {df.shape[0] - df_cleaned.shape[0]}'))

df_cleaned.describe()

Кількість рядків після видалення викидів YearsCode : 57536
Видалено рядкі з YearsCode : 525
Кількість рядків після видалення викидів YearsCodePro : 57735
Видалено рядкі з YearsCodePro : 326
Кількість рядків після видалення викидів CompTotal : 57485
Видалено рядкі з CompTotal : 576
Кількість рядків після видалення викидів WorkExp : 57644
Видалено рядкі з WorkExp : 417
Кількість рядків після видалення викидів JobSatPoints_1 : 58061
Видалено рядкі з JobSatPoints_1 : 0
Кількість рядків після видалення викидів JobSatPoints_4 : 58061
Видалено рядкі з JobSatPoints_4 : 0
Кількість рядків після видалення викидів JobSatPoints_5 : 58061
Видалено рядкі з JobSatPoints_5 : 0
Кількість рядків після видалення викидів ConvertedCompYearly : 57646
Видалено рядкі з ConvertedCompYearly : 415
Кількість рядків після видалення викидів JobSat : 58061
Видалено рядкі з JobSat : 0

,YearsCode,YearsCodePro,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,ConvertedCompYearly,JobSat
count,53076.000000,45818.000000,2.988600e+04,26274.000000,25972.000000,26031.000000,26052.000000,2.076700e+04,25793.000000
mean,14.240994,10.260967,3.346048e+145,11.469285,18.630313,7.438717,10.027056,8.607141e+04,6.943512
std,10.655077,9.063033,5.784504e+147,9.155960,25.920354,18.270130,21.774249,1.580473e+05,2.083373
min,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,6.000000,3.000000,5.923425e+04,4.250000,0.000000,0.000000,0.000000,3.398200e+04,6.000000
50%,11.000000,7.000000,1.077155e+05,9.000000,10.000000,0.000000,0.000000,6.590700e+04,7.000000
75%,20.000000,15.000000,2.400000e+05,16.000000,23.000000,5.000000,10.000000,1.090390e+05,8.000000
max,50.000000,50.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,1.381802e+07,10.000000

In [15]:
df = df_cleaned.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MainBranch            58061 non-null  object
 1   Age                   58061 non-null  object
 2   RemoteWork            48673 non-null  object
 3   EdLevel               53889 non-null  object
 4   YearsCode             53076 non-null  float64
 5   YearsCodePro          45818 non-null  float64
 6   OrgSize               42136 non-null  object
 7   Country               52201 non-null  object
 8   CompTotal             29886 non-null  float64
 9   SOVisitFreq           52758 non-null  object
 10  SOAccount             52776 non-null  object
 11  SOPartFreq            40057 non-null  object
 12  SOComm                52411 non-null  object
 13  AISelect              53958 non-null  object
 14  AISent                40721 non-null  object
 15  AIAcc                 33163 non-null  object
 16  AIComplex             32910 non-null  object
 17  AIThreat              39656 non-null  object
 18  TBranch               39414 non-null  object
 19  ICorPM                26387 non-null  object
 20  WorkExp               26274 non-null  float64
 21  Knowledge_1           25383 non-null  object
 22  Knowledge_2           24818 non-null  object
 23  Knowledge_3           24875 non-null  object
 24  TimeSearching         25589 non-null  object
 25  TimeAnswering         25530 non-null  object
 26  ProfessionalCloud     25231 non-null  object
 27  ProfessionalQuestion  25506 non-null  object
 28  JobSatPoints_1        25972 non-null  float64
 29  JobSatPoints_4        26031 non-null  float64
 30  JobSatPoints_5        26052 non-null  float64
 31  SurveyLength          49755 non-null  object
 32  SurveyEase            49809 non-null  object
 33  ConvertedCompYearly   20767 non-null  float64
 34  JobSat                25793 non-null  float64
dtypes: float64(9), object(26)
memory usage: 15.5+ MB

# 4

In [16]:
df_cleaned_columns = df.dropna(thresh = len(df) * 0.5, axis=1)
df_cleaned_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58061 entries, 0 to 58060
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MainBranch    58061 non-null  object
 1   Age           58061 non-null  object
 2   RemoteWork    48673 non-null  object
 3   EdLevel       53889 non-null  object
 4   YearsCode     53076 non-null  float64
 5   YearsCodePro  45818 non-null  float64
 6   OrgSize       42136 non-null  object
 7   Country       52201 non-null  object
 8   CompTotal     29886 non-null  float64
 9   SOVisitFreq   52758 non-null  object
 10  SOAccount     52776 non-null  object
 11  SOPartFreq    40057 non-null  object
 12  SOComm        52411 non-null  object
 13  AISelect      53958 non-null  object
 14  AISent        40721 non-null  object
 15  AIAcc         33163 non-null  object
 16  AIComplex     32910 non-null  object
 17  AIThreat      39656 non-null  object
 18  TBranch       39414 non-null  object
 19  SurveyLength  49755 non-null  object
 20  SurveyEase    49809 non-null  object
dtypes: float64(3), object(18)
memory usage: 9.3+ MB

# 5

In [18]:
df_cleaned_columns.isnull().sum()

MainBranch          0
Age                 0
RemoteWork       9388
EdLevel          4172
YearsCode        4985
YearsCodePro    12243
OrgSize         15925
Country          5860
CompTotal       28175
SOVisitFreq      5303
SOAccount        5285
SOPartFreq      18004
SOComm           5650
AISelect         4103
AISent          17340
AIAcc           24898
AIComplex       25151
AIThreat        18405
TBranch         18647
SurveyLength     8306
SurveyEase       8252
dtype: int64